pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
lightgbm==3.3.5
imbalanced-learn==0.10.1
joblib==1.2.0
matplotlib==3.7.1
seaborn==0.12.2
flask==2.3.2
flask
pandas
numpy
scikit-learn
lightgbm
imbalanced-learn
joblib